<%- include('../templates/head')-%>
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Home</h1>
        <div class="grid">
          <% for (let post of posts) { %>
          <article class="card product-item">
              <header class="card__header">
                  <span><%= post.id %></span>
                  <h1 class="product__title"><%= post.title %></h1>
              </header>
          </article>
          <% } %>
      </div>
      </main>
  </div>
</body>
</html>