<%- include('../templates/head')-%>

  <body class="page__body">

    <main class="site-main">

      <section class="site-hero">

        <h1 class="visually-hidden">Sakinat oila maktabi</h1>

        <div class="site-hero__container container">

          <div class="site-hero__content">
            <p class="site-hero__title hero-heading">Sakinat <br> oila maktabi</p>
            <p class="site-hero__desk">"Sakinat" oila maktabi bilan baxtiyor turmush sari!</p>
          </div>

        </div>

      </section>

    </main>

  </body>
  </html>