<%- include('../templates/head')-%>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
          <h1 class="cover-heading">Home</h1>
        </main>
    </div>
  </body>
  </html>