// COLORS
$color-dark: #0000;
$color-primary: #3333;
$color-btn: #a76bc7;
$color-pyramid: #BF9B7C;
$color-cappuccino: #c9af89;
$color-powdered: #faf2e7;
$color-light: #fff;
$color-darker: rgba(0, 0, 0, 0.6);

// FONTS
$font-stack: "Arial", sans-serif;
